<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header> <% include partials/_header %> </header>
  <h1> My Links! </h1>
  <ol> 
    <% for(i in urls) { %>
    <p> 
      <a href ="/u/<%= i%>"><%= i %> 
    </a>  ---------------> 
    <a href ="<%= urls[i]%>"/>   
      <%= urls[i] %> 
      </a>
    <form method="GET" action="/urls/<%= i %>">
    <button type="submit">Edit</button>
    </form>
    <form method="POST" action="/urls/<%= i %>/delete">
    <button type="submit">Delete</button>
    </form>
    </p>
    <% } %>
  </ol>
</body>
</html>

 